{
  "openapi": "3.0.3",
  "info": {
    "title": "10U Labs API",
    "description": "API for 10U Labs services",
    "version": "1.0.0",
    "contact": {
      "name": "10U Labs",
      "url": "https://10ulabs.com"
    }
  },
  "servers": [
    {
      "url": "https://api.10ulabs.com",
      "description": "Production API"
    }
  ],
  "tags": [
    {
      "name": "/diagnostics",
      "description": "Diagnostics utility endpoints"
    },
    {
      "name": "/health",
      "description": "Health check endpoints"
    },
    {
      "name": "/v1/contact-submissions",
      "description": "Contact form submission endpoints"
    }
  ],
  "paths": {
    "/diagnostics/echo": {
      "post": {
        "summary": "Echo Endpoint",
        "description": "Echoes back the request body",
        "operationId": "diagnosticsEcho",
        "tags": [
          "/diagnostics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Any JSON object to echo back"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully echoed the request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "echo",
                    "received_at"
                  ],
                  "properties": {
                    "echo": {
                      "type": "object",
                      "description": "The echoed request body"
                    },
                    "received_at": {
                      "type": "string",
                      "description": "AWS request ID",
                      "example": "1234-5678-90ab-cdef"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON in request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid JSON"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${DiagnosticsHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Health Check",
        "description": "Returns the health status of the API",
        "operationId": "healthCheck",
        "tags": [
          "/health"
        ],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "service",
                    "version"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "healthy"
                    },
                    "service": {
                      "type": "string",
                      "example": "10U Labs API"
                    },
                    "version": {
                      "type": "string",
                      "example": "1.0.0"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${HealthHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/{proxy+}": {
      "x-amazon-apigateway-any-method": {
        "summary": "Catch-all for undefined routes",
        "description": "Returns 404 for any undefined API endpoint",
        "operationId": "catchAll",
        "parameters": [
          {
            "name": "proxy",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Endpoint not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message",
                    "path"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Not Found"
                    },
                    "message": {
                      "type": "string",
                      "example": "The requested endpoint does not exist"
                    },
                    "path": {
                      "type": "string",
                      "example": "/invalid"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CatchAllHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/v1/contact-submissions": {
      "post": {
        "summary": "Submit Contact Form",
        "description": "Submits a contact form request with reCAPTCHA verification",
        "operationId": "submitContactSubmission",
        "tags": [
          "/v1/contact-submissions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "email",
                  "message",
                  "recaptcha_token"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 255
                  },
                  "message": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1000
                  },
                  "recaptcha_token": {
                    "type": "string",
                    "description": "Google reCAPTCHA v3 token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact form submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or reCAPTCHA verification failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${ContactHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for contact submissions",
        "description": "Handles CORS preflight requests",
        "operationId": "contactSubmissionOptions",
        "tags": [
          "/v1/contact-submissions"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,x-test-mode'"
              }
            }
          }
        }
      }
    }
  }
}
