{
  "openapi": "3.0.3",
  "info": {
    "title": "10U Labs API",
    "description": "API for 10U Labs services",
    "version": "1.0.0",
    "contact": {
      "name": "10U Labs",
      "url": "https://10ulabs.com"
    }
  },
  "servers": [
    {
      "url": "https://api.10ulabs.com",
      "description": "Production API"
    }
  ],
  "tags": [
    {
      "name": "/carriers",
      "description": "Carrier endpoints"
    },
    {
      "name": "/hyperscale-cloud-service-provider-regions",
      "description": "Hyperscale cloud service provider region endpoints"
    },
    {
      "name": "/wan-syntheses",
      "description": "WAN synthesis endpoints"
    },
    {
      "name": "/diagnostics",
      "description": "Diagnostics utility endpoints"
    },
    {
      "name": "/health",
      "description": "Health check endpoints"
    },
    {
      "name": "/contact-submissions",
      "description": "Contact form submission endpoints"
    },
    {
      "name": "/rack-configurations",
      "description": "Rack configuration endpoints"
    },
    {
      "name": "/sessions",
      "description": "Session analytics endpoints"
    }
  ],
  "paths": {
    "/carriers": {
      "get": {
        "summary": "List Carriers",
        "description": "Lists the carriers, each by the id the API assigned it and its name.",
        "operationId": "listCarriers",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "The carriers, in id order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "name"
                    ],
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "name": {
                        "type": "string",
                        "example": "lumen"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "500": {
            "description": "The store could not be read"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CarriersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "post": {
        "summary": "Create Carrier",
        "description": "Creates a carrier from its name and gives it the next id, never reused.",
        "operationId": "createCarrier",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "additionalProperties": false,
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "example": "lumen"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The carrier, by the id the API gave it and its name",
            "headers": {
              "Location": {
                "description": "The carrier's own URL, /carriers/{id}",
                "schema": {
                  "type": "string",
                  "example": "/carriers/1"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "name": {
                      "type": "string",
                      "example": "lumen"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A body that is not exactly {\"name\"}",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "500": {
            "description": "The store could not be written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CarriersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/carriers/{carrier}": {
      "get": {
        "summary": "Get Carrier",
        "description": "Serves one carrier, by the id the API assigned it and its name.",
        "operationId": "getCarrier",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "carrier",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The carrier, by its id and name",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "name": {
                      "type": "string",
                      "example": "lumen"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CarriersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "put": {
        "summary": "Rename Carrier",
        "description": "Renames one carrier, keeping its id and everything under it.",
        "operationId": "renameCarrier",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "carrier",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "additionalProperties": false,
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "example": "lumen"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The carrier, by its id and new name",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "name": {
                      "type": "string",
                      "example": "lumen"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A body that is not exactly {\"name\"}",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CarriersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "delete": {
        "summary": "Delete Carrier",
        "description": "Deletes one carrier and everything under it; its id is never given again.",
        "operationId": "deleteCarrier",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "carrier",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The carrier and everything under it are gone"
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CarriersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/carriers/{carrier}/pops": {
      "get": {
        "summary": "List PoPs",
        "description": "Lists the points of presence of one carrier, each by the id the API assigned it and where it is.",
        "operationId": "listPops",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "carrier",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The carrier's PoPs, in id order; [] when it has none",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "municipality",
                      "state",
                      "country",
                      "latitude",
                      "longitude"
                    ],
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "municipality": {
                        "type": "string",
                        "example": "Chicago"
                      },
                      "state": {
                        "type": "string",
                        "example": "IL"
                      },
                      "country": {
                        "type": "string",
                        "example": "US"
                      },
                      "latitude": {
                        "type": "number",
                        "example": 41.8781
                      },
                      "longitude": {
                        "type": "number",
                        "example": -87.6298
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CarriersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "post": {
        "summary": "Add PoP",
        "description": "Adds a point of presence to one carrier and gives it the next id, never reused.",
        "operationId": "addPop",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "carrier",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "municipality",
                  "state",
                  "country",
                  "latitude",
                  "longitude"
                ],
                "additionalProperties": false,
                "properties": {
                  "municipality": {
                    "type": "string",
                    "minLength": 1,
                    "example": "Chicago"
                  },
                  "state": {
                    "type": "string",
                    "description": "The state or province; empty outside a country that has them",
                    "example": "IL"
                  },
                  "country": {
                    "type": "string",
                    "minLength": 1,
                    "example": "US"
                  },
                  "latitude": {
                    "type": "number",
                    "example": 41.8781
                  },
                  "longitude": {
                    "type": "number",
                    "example": -87.6298
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The PoP, by the id the API gave it and where it is",
            "headers": {
              "Location": {
                "description": "The PoP's own URL, /carriers/{carrier}/pops/{id}",
                "schema": {
                  "type": "string",
                  "example": "/carriers/1/pops/1"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "municipality",
                    "state",
                    "country",
                    "latitude",
                    "longitude"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "municipality": {
                      "type": "string",
                      "example": "Chicago"
                    },
                    "state": {
                      "type": "string",
                      "example": "IL"
                    },
                    "country": {
                      "type": "string",
                      "example": "US"
                    },
                    "latitude": {
                      "type": "number",
                      "example": 41.8781
                    },
                    "longitude": {
                      "type": "number",
                      "example": -87.6298
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A body that is not exactly {\"municipality\", \"state\", \"country\", \"latitude\", \"longitude\"}",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CarriersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/carriers/{carrier}/pops/{pop}": {
      "get": {
        "summary": "Get PoP",
        "description": "Serves one point of presence of one carrier, by the id the API assigned it and where it is.",
        "operationId": "getPop",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "carrier",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          },
          {
            "name": "pop",
            "in": "path",
            "description": "The id the API assigned the PoP within its carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The PoP, by its id and where it is",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "municipality",
                    "state",
                    "country",
                    "latitude",
                    "longitude"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "municipality": {
                      "type": "string",
                      "example": "Chicago"
                    },
                    "state": {
                      "type": "string",
                      "example": "IL"
                    },
                    "country": {
                      "type": "string",
                      "example": "US"
                    },
                    "latitude": {
                      "type": "number",
                      "example": 41.8781
                    },
                    "longitude": {
                      "type": "number",
                      "example": -87.6298
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id, or it has no PoP with that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CarriersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "put": {
        "summary": "Correct PoP",
        "description": "Corrects where one point of presence of one carrier is, keeping its id.",
        "operationId": "correctPop",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "carrier",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          },
          {
            "name": "pop",
            "in": "path",
            "description": "The id the API assigned the PoP within its carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "municipality",
                  "state",
                  "country",
                  "latitude",
                  "longitude"
                ],
                "additionalProperties": false,
                "properties": {
                  "municipality": {
                    "type": "string",
                    "minLength": 1,
                    "example": "Chicago"
                  },
                  "state": {
                    "type": "string",
                    "description": "The state or province; empty outside a country that has them",
                    "example": "IL"
                  },
                  "country": {
                    "type": "string",
                    "minLength": 1,
                    "example": "US"
                  },
                  "latitude": {
                    "type": "number",
                    "example": 41.8781
                  },
                  "longitude": {
                    "type": "number",
                    "example": -87.6298
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The PoP, by its id and where it now is",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "municipality",
                    "state",
                    "country",
                    "latitude",
                    "longitude"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "municipality": {
                      "type": "string",
                      "example": "Chicago"
                    },
                    "state": {
                      "type": "string",
                      "example": "IL"
                    },
                    "country": {
                      "type": "string",
                      "example": "US"
                    },
                    "latitude": {
                      "type": "number",
                      "example": 41.8781
                    },
                    "longitude": {
                      "type": "number",
                      "example": -87.6298
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A body that is not exactly {\"municipality\", \"state\", \"country\", \"latitude\", \"longitude\"}",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id, or it has no PoP with that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read or written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CarriersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "delete": {
        "summary": "Remove PoP",
        "description": "Removes one point of presence from one carrier; its id is never given again.",
        "operationId": "removePop",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "carrier",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          },
          {
            "name": "pop",
            "in": "path",
            "description": "The id the API assigned the PoP within its carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The PoP is gone"
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id, or it has no PoP with that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read or written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CarriersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/carriers/{carrier}/fiber-segments": {
      "get": {
        "summary": "List Fiber Segments",
        "description": "Lists the fiber segments of one carrier, each by the id the API assigned it and the two municipalities it spans.",
        "operationId": "listFiberSegments",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "carrier",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The carrier's fiber segments, in id order; [] when it has none",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "a_municipality",
                      "a_state",
                      "z_municipality",
                      "z_state",
                      "submarine"
                    ],
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "a_municipality": {
                        "type": "string",
                        "example": "Denver"
                      },
                      "a_state": {
                        "type": "string",
                        "description": "The state or province of the A end; empty outside a country that has them",
                        "example": "CO"
                      },
                      "z_municipality": {
                        "type": "string",
                        "example": "Chicago"
                      },
                      "z_state": {
                        "type": "string",
                        "description": "The state or province of the Z end; empty outside a country that has them",
                        "example": "IL"
                      },
                      "submarine": {
                        "type": "boolean",
                        "description": "Whether the segment runs under the sea",
                        "example": false
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CarriersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "post": {
        "summary": "Add Fiber Segment",
        "description": "Adds a fiber segment to one carrier and gives it the next id, never reused.",
        "operationId": "addFiberSegment",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "carrier",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "a_municipality",
                  "a_state",
                  "z_municipality",
                  "z_state",
                  "submarine"
                ],
                "additionalProperties": false,
                "properties": {
                  "a_municipality": {
                    "type": "string",
                    "minLength": 1,
                    "example": "Denver"
                  },
                  "a_state": {
                    "type": "string",
                    "description": "The state or province of the A end; empty outside a country that has them",
                    "example": "CO"
                  },
                  "z_municipality": {
                    "type": "string",
                    "minLength": 1,
                    "example": "Chicago"
                  },
                  "z_state": {
                    "type": "string",
                    "description": "The state or province of the Z end; empty outside a country that has them",
                    "example": "IL"
                  },
                  "submarine": {
                    "type": "boolean",
                    "description": "Whether the segment runs under the sea",
                    "example": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The fiber segment, by the id the API gave it and the two municipalities it spans",
            "headers": {
              "Location": {
                "description": "The fiber segment's own URL, /carriers/{carrier}/fiber-segments/{id}",
                "schema": {
                  "type": "string",
                  "example": "/carriers/1/fiber-segments/1"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "a_municipality",
                    "a_state",
                    "z_municipality",
                    "z_state",
                    "submarine"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "a_municipality": {
                      "type": "string",
                      "example": "Denver"
                    },
                    "a_state": {
                      "type": "string",
                      "description": "The state or province of the A end; empty outside a country that has them",
                      "example": "CO"
                    },
                    "z_municipality": {
                      "type": "string",
                      "example": "Chicago"
                    },
                    "z_state": {
                      "type": "string",
                      "description": "The state or province of the Z end; empty outside a country that has them",
                      "example": "IL"
                    },
                    "submarine": {
                      "type": "boolean",
                      "description": "Whether the segment runs under the sea",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A body that is not exactly {\"a_municipality\", \"a_state\", \"z_municipality\", \"z_state\", \"submarine\"}",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CarriersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/carriers/{carrier}/fiber-segments/{fiber-segment}": {
      "get": {
        "summary": "Get Fiber Segment",
        "description": "Serves one fiber segment of one carrier, by the id the API assigned it and the two municipalities it spans.",
        "operationId": "getFiberSegment",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "carrier",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          },
          {
            "name": "fiber-segment",
            "in": "path",
            "description": "The id the API assigned the fiber segment within its carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The fiber segment, by its id and the two municipalities it spans",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "a_municipality",
                    "a_state",
                    "z_municipality",
                    "z_state",
                    "submarine"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "a_municipality": {
                      "type": "string",
                      "example": "Denver"
                    },
                    "a_state": {
                      "type": "string",
                      "description": "The state or province of the A end; empty outside a country that has them",
                      "example": "CO"
                    },
                    "z_municipality": {
                      "type": "string",
                      "example": "Chicago"
                    },
                    "z_state": {
                      "type": "string",
                      "description": "The state or province of the Z end; empty outside a country that has them",
                      "example": "IL"
                    },
                    "submarine": {
                      "type": "boolean",
                      "description": "Whether the segment runs under the sea",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id, or it has no fiber segment with that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CarriersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "put": {
        "summary": "Correct Fiber Segment",
        "description": "Corrects the two municipalities one fiber segment of one carrier spans, and whether it is submarine, keeping its id.",
        "operationId": "correctFiberSegment",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "carrier",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          },
          {
            "name": "fiber-segment",
            "in": "path",
            "description": "The id the API assigned the fiber segment within its carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "a_municipality",
                  "a_state",
                  "z_municipality",
                  "z_state",
                  "submarine"
                ],
                "additionalProperties": false,
                "properties": {
                  "a_municipality": {
                    "type": "string",
                    "minLength": 1,
                    "example": "Denver"
                  },
                  "a_state": {
                    "type": "string",
                    "description": "The state or province of the A end; empty outside a country that has them",
                    "example": "CO"
                  },
                  "z_municipality": {
                    "type": "string",
                    "minLength": 1,
                    "example": "Chicago"
                  },
                  "z_state": {
                    "type": "string",
                    "description": "The state or province of the Z end; empty outside a country that has them",
                    "example": "IL"
                  },
                  "submarine": {
                    "type": "boolean",
                    "description": "Whether the segment runs under the sea",
                    "example": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The fiber segment, by its id and the two municipalities it now spans",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "a_municipality",
                    "a_state",
                    "z_municipality",
                    "z_state",
                    "submarine"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "a_municipality": {
                      "type": "string",
                      "example": "Denver"
                    },
                    "a_state": {
                      "type": "string",
                      "description": "The state or province of the A end; empty outside a country that has them",
                      "example": "CO"
                    },
                    "z_municipality": {
                      "type": "string",
                      "example": "Chicago"
                    },
                    "z_state": {
                      "type": "string",
                      "description": "The state or province of the Z end; empty outside a country that has them",
                      "example": "IL"
                    },
                    "submarine": {
                      "type": "boolean",
                      "description": "Whether the segment runs under the sea",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A body that is not exactly {\"a_municipality\", \"a_state\", \"z_municipality\", \"z_state\", \"submarine\"}",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id, or it has no fiber segment with that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read or written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CarriersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "delete": {
        "summary": "Remove Fiber Segment",
        "description": "Removes one fiber segment from one carrier; its id is never given again.",
        "operationId": "removeFiberSegment",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "carrier",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          },
          {
            "name": "fiber-segment",
            "in": "path",
            "description": "The id the API assigned the fiber segment within its carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The fiber segment is gone"
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id, or it has no fiber segment with that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read or written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CarriersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/hyperscale-cloud-service-provider-regions": {
      "get": {
        "summary": "List Hyperscale Cloud Service Provider Regions",
        "description": "Lists the hyperscale cloud service provider regions, each by the id the API assigned it, its name and where it is.",
        "operationId": "listHyperscaleCloudServiceProviderRegions",
        "tags": [
          "/hyperscale-cloud-service-provider-regions"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "The regions, in id order; [] when there are none",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "name",
                      "municipality",
                      "state",
                      "country",
                      "latitude",
                      "longitude"
                    ],
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "name": {
                        "type": "string",
                        "description": "The region's name as its provider publishes it",
                        "example": "us-east-2"
                      },
                      "municipality": {
                        "type": "string",
                        "example": "Columbus"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state or province; empty outside a country that has them",
                        "example": "OH"
                      },
                      "country": {
                        "type": "string",
                        "example": "US"
                      },
                      "latitude": {
                        "type": "number",
                        "example": 39.9612
                      },
                      "longitude": {
                        "type": "number",
                        "example": -82.9988
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "500": {
            "description": "The store could not be read"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${HyperscaleCloudServiceProviderRegionsHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "post": {
        "summary": "Add Hyperscale Cloud Service Provider Region",
        "description": "Adds a hyperscale cloud service provider region and gives it the next id, never reused.",
        "operationId": "addHyperscaleCloudServiceProviderRegion",
        "tags": [
          "/hyperscale-cloud-service-provider-regions"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "municipality",
                  "state",
                  "country",
                  "latitude",
                  "longitude"
                ],
                "additionalProperties": false,
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The region's name as its provider publishes it",
                    "example": "us-east-2"
                  },
                  "municipality": {
                    "type": "string",
                    "minLength": 1,
                    "example": "Columbus"
                  },
                  "state": {
                    "type": "string",
                    "description": "The state or province; empty outside a country that has them",
                    "example": "OH"
                  },
                  "country": {
                    "type": "string",
                    "minLength": 1,
                    "example": "US"
                  },
                  "latitude": {
                    "type": "number",
                    "example": 39.9612
                  },
                  "longitude": {
                    "type": "number",
                    "example": -82.9988
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The region, by the id the API gave it, its name and where it is",
            "headers": {
              "Location": {
                "description": "The region's own URL, /hyperscale-cloud-service-provider-regions/{id}",
                "schema": {
                  "type": "string",
                  "example": "/hyperscale-cloud-service-provider-regions/1"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name",
                    "municipality",
                    "state",
                    "country",
                    "latitude",
                    "longitude"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "name": {
                      "type": "string",
                      "description": "The region's name as its provider publishes it",
                      "example": "us-east-2"
                    },
                    "municipality": {
                      "type": "string",
                      "example": "Columbus"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state or province; empty outside a country that has them",
                      "example": "OH"
                    },
                    "country": {
                      "type": "string",
                      "example": "US"
                    },
                    "latitude": {
                      "type": "number",
                      "example": 39.9612
                    },
                    "longitude": {
                      "type": "number",
                      "example": -82.9988
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A body that is not exactly {\"name\", \"municipality\", \"state\", \"country\", \"latitude\", \"longitude\"}",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "500": {
            "description": "The store could not be written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${HyperscaleCloudServiceProviderRegionsHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/hyperscale-cloud-service-provider-regions/{region}": {
      "get": {
        "summary": "Get Hyperscale Cloud Service Provider Region",
        "description": "Serves one hyperscale cloud service provider region, by the id the API assigned it, its name and where it is.",
        "operationId": "getHyperscaleCloudServiceProviderRegion",
        "tags": [
          "/hyperscale-cloud-service-provider-regions"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "region",
            "in": "path",
            "description": "The id the API assigned the region",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The region, by its id, its name and where it is",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name",
                    "municipality",
                    "state",
                    "country",
                    "latitude",
                    "longitude"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "name": {
                      "type": "string",
                      "description": "The region's name as its provider publishes it",
                      "example": "us-east-2"
                    },
                    "municipality": {
                      "type": "string",
                      "example": "Columbus"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state or province; empty outside a country that has them",
                      "example": "OH"
                    },
                    "country": {
                      "type": "string",
                      "example": "US"
                    },
                    "latitude": {
                      "type": "number",
                      "example": 39.9612
                    },
                    "longitude": {
                      "type": "number",
                      "example": -82.9988
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No region has that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${HyperscaleCloudServiceProviderRegionsHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "put": {
        "summary": "Correct Hyperscale Cloud Service Provider Region",
        "description": "Corrects the name and the place of one hyperscale cloud service provider region, keeping its id.",
        "operationId": "correctHyperscaleCloudServiceProviderRegion",
        "tags": [
          "/hyperscale-cloud-service-provider-regions"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "region",
            "in": "path",
            "description": "The id the API assigned the region",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "municipality",
                  "state",
                  "country",
                  "latitude",
                  "longitude"
                ],
                "additionalProperties": false,
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The region's name as its provider publishes it",
                    "example": "us-east-2"
                  },
                  "municipality": {
                    "type": "string",
                    "minLength": 1,
                    "example": "Columbus"
                  },
                  "state": {
                    "type": "string",
                    "description": "The state or province; empty outside a country that has them",
                    "example": "OH"
                  },
                  "country": {
                    "type": "string",
                    "minLength": 1,
                    "example": "US"
                  },
                  "latitude": {
                    "type": "number",
                    "example": 39.9612
                  },
                  "longitude": {
                    "type": "number",
                    "example": -82.9988
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The region, by its id, its name and where it now is",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name",
                    "municipality",
                    "state",
                    "country",
                    "latitude",
                    "longitude"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "name": {
                      "type": "string",
                      "description": "The region's name as its provider publishes it",
                      "example": "us-east-2"
                    },
                    "municipality": {
                      "type": "string",
                      "example": "Columbus"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state or province; empty outside a country that has them",
                      "example": "OH"
                    },
                    "country": {
                      "type": "string",
                      "example": "US"
                    },
                    "latitude": {
                      "type": "number",
                      "example": 39.9612
                    },
                    "longitude": {
                      "type": "number",
                      "example": -82.9988
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A body that is not exactly {\"name\", \"municipality\", \"state\", \"country\", \"latitude\", \"longitude\"}",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No region has that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read or written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${HyperscaleCloudServiceProviderRegionsHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "delete": {
        "summary": "Remove Hyperscale Cloud Service Provider Region",
        "description": "Removes one hyperscale cloud service provider region; its id is never given again.",
        "operationId": "removeHyperscaleCloudServiceProviderRegion",
        "tags": [
          "/hyperscale-cloud-service-provider-regions"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "region",
            "in": "path",
            "description": "The id the API assigned the region",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The region is gone"
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No region has that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read or written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${HyperscaleCloudServiceProviderRegionsHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/wan-syntheses": {
      "get": {
        "summary": "List WAN Syntheses",
        "description": "Lists the WAN syntheses, each by the id the API assigned it and its label; a synthesis is one run, one set of inputs and the WAN computed from them.",
        "operationId": "listWanSyntheses",
        "tags": [
          "/wan-syntheses"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "The syntheses, in id order; [] when there are none",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "label"
                    ],
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "label": {
                        "type": "string",
                        "description": "The run the synthesis records, as its inputs name it",
                        "example": "minuteman"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "500": {
            "description": "The store could not be read"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${WanSynthesesHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/wan-syntheses/{synthesis}": {
      "get": {
        "summary": "Get WAN Synthesis",
        "description": "Serves the record of one WAN synthesis: its label, its scalar inputs, its status and, once the run ended success, its figures. The record is the run whether or not a WAN came out of it, so any run that exists answers 200.",
        "operationId": "getWanSynthesis",
        "tags": [
          "/wan-syntheses"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "synthesis",
            "in": "path",
            "description": "The id the API assigned the synthesis",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The synthesis's record, by its id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "label",
                    "wan_pop_count",
                    "backbone_number_of_diverse_circuits",
                    "homing_degree",
                    "convergence_promotion",
                    "knobs",
                    "settings",
                    "status"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "label": {
                      "type": "string",
                      "description": "The run the synthesis records, as its inputs name it",
                      "example": "minuteman"
                    },
                    "wan_pop_count": {
                      "type": "object",
                      "description": "How many WAN PoPs the backbone may have",
                      "required": [
                        "min",
                        "max"
                      ],
                      "properties": {
                        "min": {
                          "type": "integer",
                          "example": 3
                        },
                        "max": {
                          "type": "integer",
                          "example": 6
                        }
                      }
                    },
                    "backbone_number_of_diverse_circuits": {
                      "type": "integer",
                      "example": 3
                    },
                    "homing_degree": {
                      "type": "integer",
                      "description": "How many WAN PoPs each site homes to",
                      "example": 2
                    },
                    "convergence_promotion": {
                      "type": "boolean",
                      "description": "Whether high-degree convergences are promoted to WAN PoPs",
                      "example": false
                    },
                    "knobs": {
                      "type": "object",
                      "description": "The algorithm's knobs, as the run set them",
                      "additionalProperties": true
                    },
                    "settings": {
                      "type": "object",
                      "description": "The implementation's settings, as the run set them",
                      "additionalProperties": true
                    },
                    "status": {
                      "type": "string",
                      "description": "Where the run stands: creating while its inputs are written, synthesizing while the WAN is computed, then success, fail or timeout",
                      "enum": [
                        "creating",
                        "synthesizing",
                        "success",
                        "fail",
                        "timeout"
                      ],
                      "example": "success"
                    },
                    "reason": {
                      "type": "string",
                      "description": "Why the run ended fail or timeout; absent otherwise"
                    },
                    "coverage": {
                      "type": "object",
                      "description": "The coverage the backbone delivered, on a run that ended success",
                      "additionalProperties": true
                    },
                    "fiber_miles": {
                      "type": "number",
                      "description": "The physical miles of fiber the WAN rides, on a run that ended success"
                    },
                    "backbone_lower_bound_miles": {
                      "type": "number",
                      "description": "The lower bound on backbone miles, on a run that ended success"
                    },
                    "homing_miles": {
                      "type": "object",
                      "description": "The homing miles by kind, on a run that ended success",
                      "additionalProperties": true
                    },
                    "diverse_circuits": {
                      "type": "object",
                      "description": "The diverse circuits delivered against those asked for, on a run that ended success",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No synthesis has that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${WanSynthesesHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/wan-syntheses/{synthesis}/wan-pops": {
      "get": {
        "summary": "List WAN PoPs",
        "description": "Lists the WAN PoPs of one synthesis's WAN, the carrier PoPs the run chose, each by the id the synthesizer gave it, its name, where it is and its carrier.",
        "operationId": "listWanPops",
        "tags": [
          "/wan-syntheses"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "synthesis",
            "in": "path",
            "description": "The id the API assigned the synthesis",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The WAN's PoPs, in id order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "name",
                      "municipality",
                      "state",
                      "country",
                      "latitude",
                      "longitude",
                      "carrier"
                    ],
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "The id the synthesizer gave the WAN PoP when it published the WAN",
                        "example": 1
                      },
                      "name": {
                        "type": "string",
                        "description": "The vertex name, the municipality and its state",
                        "example": "Ashburn, VA"
                      },
                      "municipality": {
                        "type": "string",
                        "example": "Chicago"
                      },
                      "state": {
                        "type": "string",
                        "example": "IL"
                      },
                      "country": {
                        "type": "string",
                        "example": "US"
                      },
                      "latitude": {
                        "type": "number",
                        "example": 41.8781
                      },
                      "longitude": {
                        "type": "number",
                        "example": -87.6298
                      },
                      "carrier": {
                        "type": "string",
                        "description": "The carrier whose PoP this is, by its name",
                        "example": "zayo"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No synthesis has that id, or its run has no WAN",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${WanSynthesesHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/wan-syntheses/{synthesis}/wan-pops/{wan-pop}": {
      "get": {
        "summary": "Get WAN PoP",
        "description": "Serves one WAN PoP of one synthesis's WAN, by the id the synthesizer gave it, its name, where it is and its carrier.",
        "operationId": "getWanPop",
        "tags": [
          "/wan-syntheses"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "synthesis",
            "in": "path",
            "description": "The id the API assigned the synthesis",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          },
          {
            "name": "wan-pop",
            "in": "path",
            "description": "The id the synthesizer gave the WAN PoP within its WAN",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The WAN PoP, by its id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name",
                    "municipality",
                    "state",
                    "country",
                    "latitude",
                    "longitude",
                    "carrier"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "The id the synthesizer gave the WAN PoP when it published the WAN",
                      "example": 1
                    },
                    "name": {
                      "type": "string",
                      "description": "The vertex name, the municipality and its state",
                      "example": "Ashburn, VA"
                    },
                    "municipality": {
                      "type": "string",
                      "example": "Chicago"
                    },
                    "state": {
                      "type": "string",
                      "example": "IL"
                    },
                    "country": {
                      "type": "string",
                      "example": "US"
                    },
                    "latitude": {
                      "type": "number",
                      "example": 41.8781
                    },
                    "longitude": {
                      "type": "number",
                      "example": -87.6298
                    },
                    "carrier": {
                      "type": "string",
                      "description": "The carrier whose PoP this is, by its name",
                      "example": "zayo"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No synthesis has that id, its run has no WAN, or its WAN has no PoP with that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${WanSynthesesHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/diagnostics/echo": {
      "post": {
        "summary": "Echo Endpoint",
        "description": "Echoes back the request body",
        "operationId": "diagnosticsEcho",
        "tags": [
          "/diagnostics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Any JSON object to echo back"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully echoed the request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "echo",
                    "received_at"
                  ],
                  "properties": {
                    "echo": {
                      "type": "object",
                      "description": "The echoed request body"
                    },
                    "received_at": {
                      "type": "string",
                      "description": "AWS request ID",
                      "example": "1234-5678-90ab-cdef"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON in request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid JSON"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${DiagnosticsHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Health Check",
        "description": "Returns the health status of the API",
        "operationId": "healthCheck",
        "tags": [
          "/health"
        ],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "service",
                    "version"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "healthy"
                    },
                    "service": {
                      "type": "string",
                      "example": "10U Labs API"
                    },
                    "version": {
                      "type": "string",
                      "example": "1.0.0"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${HealthHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/{proxy+}": {
      "x-amazon-apigateway-any-method": {
        "summary": "Catch-all for undefined routes",
        "description": "Returns 404 for any undefined API endpoint",
        "operationId": "catchAll",
        "parameters": [
          {
            "name": "proxy",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Endpoint not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message",
                    "path"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Not Found"
                    },
                    "message": {
                      "type": "string",
                      "example": "The requested endpoint does not exist"
                    },
                    "path": {
                      "type": "string",
                      "example": "/invalid"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CatchAllHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/contact-submissions": {
      "post": {
        "summary": "Submit Contact Form",
        "description": "Submits a contact form request with reCAPTCHA verification",
        "operationId": "submitContactSubmission",
        "tags": [
          "/contact-submissions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "email",
                  "message",
                  "recaptcha_token"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 255
                  },
                  "message": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1000
                  },
                  "recaptcha_token": {
                    "type": "string",
                    "description": "Google reCAPTCHA v3 token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact form submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or reCAPTCHA verification failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${ContactHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for contact submissions",
        "description": "Handles CORS preflight requests",
        "operationId": "contactSubmissionOptions",
        "tags": [
          "/contact-submissions"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
[...]
