{
  "openapi": "3.0.3",
  "info": {
    "title": "10U Labs API",
    "description": "API for 10U Labs services",
    "version": "1.0.0",
    "contact": {
      "name": "10U Labs",
      "url": "https://10ulabs.com"
    }
  },
  "servers": [
    {
      "url": "https://api.10ulabs.com",
      "description": "Production API"
    }
  ],
  "tags": [
    {
      "name": "/carriers",
      "description": "Carrier endpoints"
    },
    {
      "name": "/diagnostics",
      "description": "Diagnostics utility endpoints"
    },
    {
      "name": "/health",
      "description": "Health check endpoints"
    },
    {
      "name": "/contact-submissions",
      "description": "Contact form submission endpoints"
    },
    {
      "name": "/rack-configurations",
      "description": "Rack configuration endpoints"
    },
    {
      "name": "/sessions",
      "description": "Session analytics endpoints"
    }
  ],
  "paths": {
    "/carriers": {
      "get": {
        "summary": "List Carriers",
        "description": "Lists the carriers, each by the id the API assigned it and its name.",
        "operationId": "listCarriers",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "The carriers, in id order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "name"
                    ],
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "name": {
                        "type": "string",
                        "example": "lumen"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "500": {
            "description": "The store could not be read"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CarriersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "post": {
        "summary": "Create Carrier",
        "description": "Creates a carrier from its name and gives it the next id, never reused.",
        "operationId": "createCarrier",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "additionalProperties": false,
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "example": "lumen"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The carrier, by the id the API gave it and its name",
            "headers": {
              "Location": {
                "description": "The carrier's own URL, /carriers/{id}",
                "schema": {
                  "type": "string",
                  "example": "/carriers/1"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "name": {
                      "type": "string",
                      "example": "lumen"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A body that is not exactly {\"name\"}",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "500": {
            "description": "The store could not be written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CarriersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/carriers/{carrier}": {
      "get": {
        "summary": "Get Carrier",
        "description": "Serves one carrier, by the id the API assigned it and its name.",
        "operationId": "getCarrier",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "carrier",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The carrier, by its id and name",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "name": {
                      "type": "string",
                      "example": "lumen"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CarriersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "put": {
        "summary": "Rename Carrier",
        "description": "Renames one carrier, keeping its id and everything under it.",
        "operationId": "renameCarrier",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "carrier",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "additionalProperties": false,
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "example": "lumen"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The carrier, by its id and new name",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "name": {
                      "type": "string",
                      "example": "lumen"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A body that is not exactly {\"name\"}",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CarriersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "delete": {
        "summary": "Delete Carrier",
        "description": "Deletes one carrier and everything under it; its id is never given again.",
        "operationId": "deleteCarrier",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "carrier",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The carrier and everything under it are gone"
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CarriersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/carriers/{carrier}/pops": {
      "get": {
        "summary": "List PoPs",
        "description": "Lists the points of presence of one carrier, each by the id the API assigned it and where it is.",
        "operationId": "listPops",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "carrier",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The carrier's PoPs, in id order; [] when it has none",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "municipality",
                      "state",
                      "country",
                      "latitude",
                      "longitude"
                    ],
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "municipality": {
                        "type": "string",
                        "example": "Chicago"
                      },
                      "state": {
                        "type": "string",
                        "example": "IL"
                      },
                      "country": {
                        "type": "string",
                        "example": "US"
                      },
                      "latitude": {
                        "type": "number",
                        "example": 41.8781
                      },
                      "longitude": {
                        "type": "number",
                        "example": -87.6298
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CarriersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "post": {
        "summary": "Add PoP",
        "description": "Adds a point of presence to one carrier and gives it the next id, never reused.",
        "operationId": "addPop",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "carrier",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "municipality",
                  "state",
                  "country",
                  "latitude",
                  "longitude"
                ],
                "additionalProperties": false,
                "properties": {
                  "municipality": {
                    "type": "string",
                    "minLength": 1,
                    "example": "Chicago"
                  },
                  "state": {
                    "type": "string",
                    "description": "The state or province; empty outside a country that has them",
                    "example": "IL"
                  },
                  "country": {
                    "type": "string",
                    "minLength": 1,
                    "example": "US"
                  },
                  "latitude": {
                    "type": "number",
                    "example": 41.8781
                  },
                  "longitude": {
                    "type": "number",
                    "example": -87.6298
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The PoP, by the id the API gave it and where it is",
            "headers": {
              "Location": {
                "description": "The PoP's own URL, /carriers/{carrier}/pops/{id}",
                "schema": {
                  "type": "string",
                  "example": "/carriers/1/pops/1"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "municipality",
                    "state",
                    "country",
                    "latitude",
                    "longitude"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "municipality": {
                      "type": "string",
                      "example": "Chicago"
                    },
                    "state": {
                      "type": "string",
                      "example": "IL"
                    },
                    "country": {
                      "type": "string",
                      "example": "US"
                    },
                    "latitude": {
                      "type": "number",
                      "example": 41.8781
                    },
                    "longitude": {
                      "type": "number",
                      "example": -87.6298
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A body that is not exactly {\"municipality\", \"state\", \"country\", \"latitude\", \"longitude\"}",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CarriersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/carriers/{carrier}/pops/{pop}": {
      "get": {
        "summary": "Get PoP",
        "description": "Serves one point of presence of one carrier, by the id the API assigned it and where it is.",
        "operationId": "getPop",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "carrier",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          },
          {
            "name": "pop",
            "in": "path",
            "description": "The id the API assigned the PoP within its carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The PoP, by its id and where it is",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "municipality",
                    "state",
                    "country",
                    "latitude",
                    "longitude"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "municipality": {
                      "type": "string",
                      "example": "Chicago"
                    },
                    "state": {
                      "type": "string",
                      "example": "IL"
                    },
                    "country": {
                      "type": "string",
                      "example": "US"
                    },
                    "latitude": {
                      "type": "number",
                      "example": 41.8781
                    },
                    "longitude": {
                      "type": "number",
                      "example": -87.6298
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id, or it has no PoP with that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CarriersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "put": {
        "summary": "Correct PoP",
        "description": "Corrects where one point of presence of one carrier is, keeping its id.",
        "operationId": "correctPop",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "carrier",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          },
          {
            "name": "pop",
            "in": "path",
            "description": "The id the API assigned the PoP within its carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "municipality",
                  "state",
                  "country",
                  "latitude",
                  "longitude"
                ],
                "additionalProperties": false,
                "properties": {
                  "municipality": {
                    "type": "string",
                    "minLength": 1,
                    "example": "Chicago"
                  },
                  "state": {
                    "type": "string",
                    "description": "The state or province; empty outside a country that has them",
                    "example": "IL"
                  },
                  "country": {
                    "type": "string",
                    "minLength": 1,
                    "example": "US"
                  },
                  "latitude": {
                    "type": "number",
                    "example": 41.8781
                  },
                  "longitude": {
                    "type": "number",
                    "example": -87.6298
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The PoP, by its id and where it now is",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "municipality",
                    "state",
                    "country",
                    "latitude",
                    "longitude"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "municipality": {
                      "type": "string",
                      "example": "Chicago"
                    },
                    "state": {
                      "type": "string",
                      "example": "IL"
                    },
                    "country": {
                      "type": "string",
                      "example": "US"
                    },
                    "latitude": {
                      "type": "number",
                      "example": 41.8781
                    },
                    "longitude": {
                      "type": "number",
                      "example": -87.6298
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A body that is not exactly {\"municipality\", \"state\", \"country\", \"latitude\", \"longitude\"}",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id, or it has no PoP with that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read or written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CarriersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "delete": {
        "summary": "Remove PoP",
        "description": "Removes one point of presence from one carrier; its id is never given again.",
        "operationId": "removePop",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "carrier",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          },
          {
            "name": "pop",
            "in": "path",
            "description": "The id the API assigned the PoP within its carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The PoP is gone"
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id, or it has no PoP with that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read or written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CarriersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/carriers/{carrier}/fiber-segments": {
      "get": {
        "summary": "List Fiber Segments",
        "description": "Lists the fiber segments of one carrier, each by the id the API assigned it and the two municipalities it spans.",
        "operationId": "listFiberSegments",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "carrier",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The carrier's fiber segments, in id order; [] when it has none",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "a_municipality",
                      "a_state",
                      "z_municipality",
                      "z_state",
                      "submarine"
                    ],
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "a_municipality": {
                        "type": "string",
                        "example": "Denver"
                      },
                      "a_state": {
                        "type": "string",
                        "description": "The state or province of the A end; empty outside a country that has them",
                        "example": "CO"
                      },
                      "z_municipality": {
                        "type": "string",
                        "example": "Chicago"
                      },
                      "z_state": {
                        "type": "string",
                        "description": "The state or province of the Z end; empty outside a country that has them",
                        "example": "IL"
                      },
                      "submarine": {
                        "type": "boolean",
                        "description": "Whether the segment runs under the sea",
                        "example": false
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CarriersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "post": {
        "summary": "Add Fiber Segment",
        "description": "Adds a fiber segment to one carrier and gives it the next id, never reused.",
        "operationId": "addFiberSegment",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "carrier",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "a_municipality",
                  "a_state",
                  "z_municipality",
                  "z_state",
                  "submarine"
                ],
                "additionalProperties": false,
                "properties": {
                  "a_municipality": {
                    "type": "string",
                    "minLength": 1,
                    "example": "Denver"
                  },
                  "a_state": {
                    "type": "string",
                    "description": "The state or province of the A end; empty outside a country that has them",
                    "example": "CO"
                  },
                  "z_municipality": {
                    "type": "string",
                    "minLength": 1,
                    "example": "Chicago"
                  },
                  "z_state": {
                    "type": "string",
                    "description": "The state or province of the Z end; empty outside a country that has them",
                    "example": "IL"
                  },
                  "submarine": {
                    "type": "boolean",
                    "description": "Whether the segment runs under the sea",
                    "example": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The fiber segment, by the id the API gave it and the two municipalities it spans",
            "headers": {
              "Location": {
                "description": "The fiber segment's own URL, /carriers/{carrier}/fiber-segments/{id}",
                "schema": {
                  "type": "string",
                  "example": "/carriers/1/fiber-segments/1"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "a_municipality",
                    "a_state",
                    "z_municipality",
                    "z_state",
                    "submarine"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "a_municipality": {
                      "type": "string",
                      "example": "Denver"
                    },
                    "a_state": {
                      "type": "string",
                      "description": "The state or province of the A end; empty outside a country that has them",
                      "example": "CO"
                    },
                    "z_municipality": {
                      "type": "string",
                      "example": "Chicago"
                    },
                    "z_state": {
                      "type": "string",
                      "description": "The state or province of the Z end; empty outside a country that has them",
                      "example": "IL"
                    },
                    "submarine": {
                      "type": "boolean",
                      "description": "Whether the segment runs under the sea",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A body that is not exactly {\"a_municipality\", \"a_state\", \"z_municipality\", \"z_state\", \"submarine\"}",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CarriersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/diagnostics/echo": {
      "post": {
        "summary": "Echo Endpoint",
        "description": "Echoes back the request body",
        "operationId": "diagnosticsEcho",
        "tags": [
          "/diagnostics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Any JSON object to echo back"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully echoed the request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "echo",
                    "received_at"
                  ],
                  "properties": {
                    "echo": {
                      "type": "object",
                      "description": "The echoed request body"
                    },
                    "received_at": {
                      "type": "string",
                      "description": "AWS request ID",
                      "example": "1234-5678-90ab-cdef"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON in request body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid JSON"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${DiagnosticsHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Health Check",
        "description": "Returns the health status of the API",
        "operationId": "healthCheck",
        "tags": [
          "/health"
        ],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "service",
                    "version"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "healthy"
                    },
                    "service": {
                      "type": "string",
                      "example": "10U Labs API"
                    },
                    "version": {
                      "type": "string",
                      "example": "1.0.0"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${HealthHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/{proxy+}": {
      "x-amazon-apigateway-any-method": {
        "summary": "Catch-all for undefined routes",
        "description": "Returns 404 for any undefined API endpoint",
        "operationId": "catchAll",
        "parameters": [
          {
            "name": "proxy",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Endpoint not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "message",
                    "path"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Not Found"
                    },
                    "message": {
                      "type": "string",
                      "example": "The requested endpoint does not exist"
                    },
                    "path": {
                      "type": "string",
                      "example": "/invalid"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CatchAllHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/contact-submissions": {
      "post": {
        "summary": "Submit Contact Form",
        "description": "Submits a contact form request with reCAPTCHA verification",
        "operationId": "submitContactSubmission",
        "tags": [
          "/contact-submissions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "email",
                  "message",
                  "recaptcha_token"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 255
                  },
                  "message": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1000
                  },
                  "recaptcha_token": {
                    "type": "string",
                    "description": "Google reCAPTCHA v3 token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact form submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "message"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or reCAPTCHA verification failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${ContactHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for contact submissions",
        "description": "Handles CORS preflight requests",
        "operationId": "contactSubmissionOptions",
        "tags": [
          "/contact-submissions"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,x-test-mode'"
              }
            }
          }
        }
      }
    },
    "/rack-configurations": {
      "post": {
        "summary": "Save Rack Configuration",
        "description": "Saves a rack configuration and returns a unique 9-character hash",
        "operationId": "createRackConfiguration",
        "tags": [
          "/rack-configurations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "device_id",
                  "configuration"
                ],
                "properties": {
                  "device_id": {
                    "type": "string"
                  },
                  "configuration": {
                    "type": "object",
                    "required": [
                      "rackHeight",
                      "rackCount",
                      "placedParts"
                    ],
                    "properties": {
                      "rackHeight": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 42
                      },
                      "rackCount": {
                        "type": "integer",
                        "minimum": 1
                      },
                      "placedParts": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "size": {
                              "type": "integer"
                            },
                            "rackId": {
                              "type": "integer"
                            },
                            "startSlot": {
                              "type": "integer"
                            },
                            "customName": {
                              "type": "string",
                              "nullable": true
                            },
                            "customColor": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configuration saved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "config_hash"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "config_hash": {
                      "type": "string",
                      "pattern": "^[0-9A-Z]{9}$"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${RackConfigurationsHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for rack configurations",
        "description": "Handles CORS preflight requests",
        "operationId": "createRackConfigurationOptions",
        "tags": [
          "/rack-configurations"
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type'"
              }
            }
          }
        }
      }
    },
    "/rack-configurations/{config_hash}": {
      "get": {
        "summary": "Load Rack Configuration",
        "description": "Loads a rack configuration by its unique hash",
        "operationId": "getRackConfiguration",
        "tags": [
          "/rack-configurations"
        ],
        "parameters": [
          {
            "name": "config_hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Z]{9}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Configuration loaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "config_hash",
                    "configuration"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "config_hash": {
                      "type": "string"
                    },
                    "configuration": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid hash",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Configuration not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${RackConfigurationsHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for a rack configuration",
        "description": "Handles CORS preflight requests",
        "operationId": "getRackConfigurationOptions",
        "tags": [
          "/rack-configurations"
        ],
        "parameters": [
          {
            "name": "config_hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'GET,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type'"
              }
            }
          }
        }
      }
    },
    "/sessions/{session_id}/events": {
      "post": {
        "summary": "Save Session Analytics Events",
        "description": "Saves analytics events for a session",
        "operationId": "createSessionEvents",
        "tags": [
          "/sessions"
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "device_id",
                  "events"
                ],
                "properties": {
                  "device_id": {
                    "type": "string"
                  },
                  "events": {
                    "type": "array",
                    "maxItems": 25,
                    "items": {
                      "type": "object",
                      "required": [
                        "event_type",
                        "timestamp"
                      ],
                      "properties": {
                        "event_type": {
                          "type": "string"
                        },
                        "timestamp": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "session_context": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Events saved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "events_saved"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "events_saved": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "error"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${SessionsHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "options": {
        "summary": "CORS preflight for session events",
        "description": "Handles CORS preflight requests",
        "operationId": "createSessionEventsOptions",
        "tags": [
          "/sessions"
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CORS headers",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "type": "mock",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'",
                "method.response.header.Access-Control-Allow-Methods": "'POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type'"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearer": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "A Google ID token for an authorized account on the hosted domain, or the API key the workflows hold, as a bearer token.",
        "x-amazon-apigateway-authtype": "custom",
        "x-amazon-apigateway-authorizer": {
          "type": "token",
          "authorizerUri": "${AuthorizerHandlerArn}",
          "identityValidationExpression": "^Bearer .+$",
          "authorizerResultTtlInSeconds": 300
        }
      }
    }
  }
}
