{
  "openapi": "3.0.3",
  "info": {
    "title": "10U Labs API",
    "description": "API for 10U Labs services",
    "version": "1.0.0",
    "contact": {
      "name": "10U Labs",
      "url": "https://10ulabs.com"
    }
  },
  "servers": [
    {
      "url": "https://api.10ulabs.com",
      "description": "Production API"
    }
  ],
  "tags": [
    {
      "name": "/carriers",
      "description": "Carrier endpoints"
    },
    {
      "name": "/hyperscale-cloud-service-provider-regions",
      "description": "Hyperscale cloud service provider region endpoints"
    },
    {
      "name": "/wan-syntheses",
      "description": "WAN synthesis endpoints"
    },
    {
      "name": "/diagnostics",
      "description": "Diagnostics utility endpoints"
    },
    {
      "name": "/health",
      "description": "Health check endpoints"
    },
    {
      "name": "/contact-submissions",
      "description": "Contact form submission endpoints"
    },
    {
      "name": "/rack-configurations",
      "description": "Rack configuration endpoints"
    },
    {
      "name": "/sessions",
      "description": "Session analytics endpoints"
    }
  ],
  "paths": {
    "/carriers": {
      "get": {
        "summary": "List Carriers",
        "description": "Lists the carriers, each by the id the API assigned it and its name.",
        "operationId": "listCarriers",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "The carriers, in id order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "name"
                    ],
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "name": {
                        "type": "string",
                        "example": "lumen"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "500": {
            "description": "The store could not be read"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${ListCarriersHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "post": {
        "summary": "Create Carrier",
        "description": "Creates a carrier from its name and gives it the next id, never reused.",
        "operationId": "createCarrier",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "additionalProperties": false,
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "example": "lumen"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The carrier, by the id the API gave it and its name",
            "headers": {
              "Location": {
                "description": "The carrier's own URL, /carriers/{id}",
                "schema": {
                  "type": "string",
                  "example": "/carriers/1"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "name": {
                      "type": "string",
                      "example": "lumen"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A body that is not exactly {\"name\"}",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "500": {
            "description": "The store could not be written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CreateCarrierHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/carriers/{id}": {
      "get": {
        "summary": "Get Carrier",
        "description": "Serves one carrier, by the id the API assigned it and its name.",
        "operationId": "getCarrier",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The carrier, by its id and name",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "name": {
                      "type": "string",
                      "example": "lumen"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${ReadCarrierHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "put": {
        "summary": "Rename Carrier",
        "description": "Renames one carrier, keeping its id and everything under it.",
        "operationId": "renameCarrier",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "additionalProperties": false,
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "example": "lumen"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The carrier, by its id and new name",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "name": {
                      "type": "string",
                      "example": "lumen"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A body that is not exactly {\"name\"}",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${RenameCarrierHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "delete": {
        "summary": "Delete Carrier",
        "description": "Deletes one carrier and everything under it; its id is never given again.",
        "operationId": "deleteCarrier",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The carrier and everything under it are gone"
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${DeleteCarrierHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/carriers/{id}/pops": {
      "get": {
        "summary": "List PoPs",
        "description": "Lists the points of presence of one carrier, each by the id the API assigned it and where it is.",
        "operationId": "listPops",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The carrier's PoPs, in id order; [] when it has none",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "municipality",
                      "state",
                      "country",
                      "latitude",
                      "longitude"
                    ],
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "municipality": {
                        "type": "string",
                        "example": "Chicago"
                      },
                      "state": {
                        "type": "string",
                        "example": "IL"
                      },
                      "country": {
                        "type": "string",
                        "example": "US"
                      },
                      "latitude": {
                        "type": "number",
                        "example": 41.8781
                      },
                      "longitude": {
                        "type": "number",
                        "example": -87.6298
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${ListPopsHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "post": {
        "summary": "Add PoP",
        "description": "Adds a point of presence to one carrier and gives it the next id, never reused.",
        "operationId": "addPop",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "municipality",
                  "state",
                  "country",
                  "latitude",
                  "longitude"
                ],
                "additionalProperties": false,
                "properties": {
                  "municipality": {
                    "type": "string",
                    "minLength": 1,
                    "example": "Chicago"
                  },
                  "state": {
                    "type": "string",
                    "description": "The state or province; empty outside a country that has them",
                    "example": "IL"
                  },
                  "country": {
                    "type": "string",
                    "minLength": 1,
                    "example": "US"
                  },
                  "latitude": {
                    "type": "number",
                    "example": 41.8781
                  },
                  "longitude": {
                    "type": "number",
                    "example": -87.6298
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The PoP, by the id the API gave it and where it is",
            "headers": {
              "Location": {
                "description": "The PoP's own URL, /carriers/{id}/pops/{pop_id}",
                "schema": {
                  "type": "string",
                  "example": "/carriers/1/pops/1"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "municipality",
                    "state",
                    "country",
                    "latitude",
                    "longitude"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "municipality": {
                      "type": "string",
                      "example": "Chicago"
                    },
                    "state": {
                      "type": "string",
                      "example": "IL"
                    },
                    "country": {
                      "type": "string",
                      "example": "US"
                    },
                    "latitude": {
                      "type": "number",
                      "example": 41.8781
                    },
                    "longitude": {
                      "type": "number",
                      "example": -87.6298
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A body that is not exactly {\"municipality\", \"state\", \"country\", \"latitude\", \"longitude\"}",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${AddPopHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/carriers/{id}/pops/{pop_id}": {
      "get": {
        "summary": "Get PoP",
        "description": "Serves one point of presence of one carrier, by the id the API assigned it and where it is.",
        "operationId": "getPop",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          },
          {
            "name": "pop_id",
            "in": "path",
            "description": "The id the API assigned the PoP within its carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The PoP, by its id and where it is",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "municipality",
                    "state",
                    "country",
                    "latitude",
                    "longitude"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "municipality": {
                      "type": "string",
                      "example": "Chicago"
                    },
                    "state": {
                      "type": "string",
                      "example": "IL"
                    },
                    "country": {
                      "type": "string",
                      "example": "US"
                    },
                    "latitude": {
                      "type": "number",
                      "example": 41.8781
                    },
                    "longitude": {
                      "type": "number",
                      "example": -87.6298
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id, or it has no PoP with that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${ReadPopHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "put": {
        "summary": "Correct PoP",
        "description": "Corrects where one point of presence of one carrier is, keeping its id.",
        "operationId": "correctPop",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          },
          {
            "name": "pop_id",
            "in": "path",
            "description": "The id the API assigned the PoP within its carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "municipality",
                  "state",
                  "country",
                  "latitude",
                  "longitude"
                ],
                "additionalProperties": false,
                "properties": {
                  "municipality": {
                    "type": "string",
                    "minLength": 1,
                    "example": "Chicago"
                  },
                  "state": {
                    "type": "string",
                    "description": "The state or province; empty outside a country that has them",
                    "example": "IL"
                  },
                  "country": {
                    "type": "string",
                    "minLength": 1,
                    "example": "US"
                  },
                  "latitude": {
                    "type": "number",
                    "example": 41.8781
                  },
                  "longitude": {
                    "type": "number",
                    "example": -87.6298
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The PoP, by its id and where it now is",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "municipality",
                    "state",
                    "country",
                    "latitude",
                    "longitude"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "municipality": {
                      "type": "string",
                      "example": "Chicago"
                    },
                    "state": {
                      "type": "string",
                      "example": "IL"
                    },
                    "country": {
                      "type": "string",
                      "example": "US"
                    },
                    "latitude": {
                      "type": "number",
                      "example": 41.8781
                    },
                    "longitude": {
                      "type": "number",
                      "example": -87.6298
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A body that is not exactly {\"municipality\", \"state\", \"country\", \"latitude\", \"longitude\"}",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id, or it has no PoP with that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read or written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CorrectPopHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "delete": {
        "summary": "Remove PoP",
        "description": "Removes one point of presence from one carrier; its id is never given again.",
        "operationId": "removePop",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          },
          {
            "name": "pop_id",
            "in": "path",
            "description": "The id the API assigned the PoP within its carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The PoP is gone"
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id, or it has no PoP with that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read or written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${RemovePopHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/carriers/{id}/fiber-segments": {
      "get": {
        "summary": "List Fiber Segments",
        "description": "Lists the fiber segments of one carrier, each by the id the API assigned it and the two municipalities it spans.",
        "operationId": "listFiberSegments",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The carrier's fiber segments, in id order; [] when it has none",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "a_municipality",
                      "a_state",
                      "z_municipality",
                      "z_state",
                      "submarine"
                    ],
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "a_municipality": {
                        "type": "string",
                        "example": "Denver"
                      },
                      "a_state": {
                        "type": "string",
                        "description": "The state or province of the A end; empty outside a country that has them",
                        "example": "CO"
                      },
                      "z_municipality": {
                        "type": "string",
                        "example": "Chicago"
                      },
                      "z_state": {
                        "type": "string",
                        "description": "The state or province of the Z end; empty outside a country that has them",
                        "example": "IL"
                      },
                      "submarine": {
                        "type": "boolean",
                        "description": "Whether the segment runs under the sea",
                        "example": false
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${ListFiberSegmentsHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "post": {
        "summary": "Add Fiber Segment",
        "description": "Adds a fiber segment to one carrier and gives it the next id, never reused.",
        "operationId": "addFiberSegment",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "a_municipality",
                  "a_state",
                  "z_municipality",
                  "z_state",
                  "submarine"
                ],
                "additionalProperties": false,
                "properties": {
                  "a_municipality": {
                    "type": "string",
                    "minLength": 1,
                    "example": "Denver"
                  },
                  "a_state": {
                    "type": "string",
                    "description": "The state or province of the A end; empty outside a country that has them",
                    "example": "CO"
                  },
                  "z_municipality": {
                    "type": "string",
                    "minLength": 1,
                    "example": "Chicago"
                  },
                  "z_state": {
                    "type": "string",
                    "description": "The state or province of the Z end; empty outside a country that has them",
                    "example": "IL"
                  },
                  "submarine": {
                    "type": "boolean",
                    "description": "Whether the segment runs under the sea",
                    "example": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The fiber segment, by the id the API gave it and the two municipalities it spans",
            "headers": {
              "Location": {
                "description": "The fiber segment's own URL, /carriers/{id}/fiber-segments/{fiber_segment_id}",
                "schema": {
                  "type": "string",
                  "example": "/carriers/1/fiber-segments/1"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "a_municipality",
                    "a_state",
                    "z_municipality",
                    "z_state",
                    "submarine"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "a_municipality": {
                      "type": "string",
                      "example": "Denver"
                    },
                    "a_state": {
                      "type": "string",
                      "description": "The state or province of the A end; empty outside a country that has them",
                      "example": "CO"
                    },
                    "z_municipality": {
                      "type": "string",
                      "example": "Chicago"
                    },
                    "z_state": {
                      "type": "string",
                      "description": "The state or province of the Z end; empty outside a country that has them",
                      "example": "IL"
                    },
                    "submarine": {
                      "type": "boolean",
                      "description": "Whether the segment runs under the sea",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A body that is not exactly {\"a_municipality\", \"a_state\", \"z_municipality\", \"z_state\", \"submarine\"}",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${AddFiberSegmentHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/carriers/{id}/fiber-segments/{fiber_segment_id}": {
      "get": {
        "summary": "Get Fiber Segment",
        "description": "Serves one fiber segment of one carrier, by the id the API assigned it and the two municipalities it spans.",
        "operationId": "getFiberSegment",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          },
          {
            "name": "fiber_segment_id",
            "in": "path",
            "description": "The id the API assigned the fiber segment within its carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The fiber segment, by its id and the two municipalities it spans",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "a_municipality",
                    "a_state",
                    "z_municipality",
                    "z_state",
                    "submarine"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "a_municipality": {
                      "type": "string",
                      "example": "Denver"
                    },
                    "a_state": {
                      "type": "string",
                      "description": "The state or province of the A end; empty outside a country that has them",
                      "example": "CO"
                    },
                    "z_municipality": {
                      "type": "string",
                      "example": "Chicago"
                    },
                    "z_state": {
                      "type": "string",
                      "description": "The state or province of the Z end; empty outside a country that has them",
                      "example": "IL"
                    },
                    "submarine": {
                      "type": "boolean",
                      "description": "Whether the segment runs under the sea",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id, or it has no fiber segment with that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${ReadFiberSegmentHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "put": {
        "summary": "Correct Fiber Segment",
        "description": "Corrects the two municipalities one fiber segment of one carrier spans, and whether it is submarine, keeping its id.",
        "operationId": "correctFiberSegment",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          },
          {
            "name": "fiber_segment_id",
            "in": "path",
            "description": "The id the API assigned the fiber segment within its carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "a_municipality",
                  "a_state",
                  "z_municipality",
                  "z_state",
                  "submarine"
                ],
                "additionalProperties": false,
                "properties": {
                  "a_municipality": {
                    "type": "string",
                    "minLength": 1,
                    "example": "Denver"
                  },
                  "a_state": {
                    "type": "string",
                    "description": "The state or province of the A end; empty outside a country that has them",
                    "example": "CO"
                  },
                  "z_municipality": {
                    "type": "string",
                    "minLength": 1,
                    "example": "Chicago"
                  },
                  "z_state": {
                    "type": "string",
                    "description": "The state or province of the Z end; empty outside a country that has them",
                    "example": "IL"
                  },
                  "submarine": {
                    "type": "boolean",
                    "description": "Whether the segment runs under the sea",
                    "example": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The fiber segment, by its id and the two municipalities it now spans",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "a_municipality",
                    "a_state",
                    "z_municipality",
                    "z_state",
                    "submarine"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "a_municipality": {
                      "type": "string",
                      "example": "Denver"
                    },
                    "a_state": {
                      "type": "string",
                      "description": "The state or province of the A end; empty outside a country that has them",
                      "example": "CO"
                    },
                    "z_municipality": {
                      "type": "string",
                      "example": "Chicago"
                    },
                    "z_state": {
                      "type": "string",
                      "description": "The state or province of the Z end; empty outside a country that has them",
                      "example": "IL"
                    },
                    "submarine": {
                      "type": "boolean",
                      "description": "Whether the segment runs under the sea",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A body that is not exactly {\"a_municipality\", \"a_state\", \"z_municipality\", \"z_state\", \"submarine\"}",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id, or it has no fiber segment with that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read or written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${CorrectFiberSegmentHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "delete": {
        "summary": "Remove Fiber Segment",
        "description": "Removes one fiber segment from one carrier; its id is never given again.",
        "operationId": "removeFiberSegment",
        "tags": [
          "/carriers"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id the API assigned the carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          },
          {
            "name": "fiber_segment_id",
            "in": "path",
            "description": "The id the API assigned the fiber segment within its carrier",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The fiber segment is gone"
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No carrier has that id, or it has no fiber segment with that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read or written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${RemoveFiberSegmentHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/hyperscale-cloud-service-provider-regions": {
      "get": {
        "summary": "List Hyperscale Cloud Service Provider Regions",
        "description": "Lists the hyperscale cloud service provider regions, each by the id the API assigned it, its name and where it is.",
        "operationId": "listHyperscaleCloudServiceProviderRegions",
        "tags": [
          "/hyperscale-cloud-service-provider-regions"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "The regions, in id order; [] when there are none",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "name",
                      "municipality",
                      "state",
                      "country",
                      "latitude",
                      "longitude"
                    ],
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "name": {
                        "type": "string",
                        "description": "The region's name, Provider and one capital letter, which says nothing of its provider",
                        "example": "Provider A"
                      },
                      "municipality": {
                        "type": "string",
                        "example": "Columbus"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state or province; empty outside a country that has them",
                        "example": "OH"
                      },
                      "country": {
                        "type": "string",
                        "example": "US"
                      },
                      "latitude": {
                        "type": "number",
                        "example": 39.9612
                      },
                      "longitude": {
                        "type": "number",
                        "example": -82.9988
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "500": {
            "description": "The store could not be read"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${HyperscaleCloudServiceProviderRegionsHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "post": {
        "summary": "Add Hyperscale Cloud Service Provider Region",
        "description": "Adds a hyperscale cloud service provider region and gives it the next id, never reused.",
        "operationId": "addHyperscaleCloudServiceProviderRegion",
        "tags": [
          "/hyperscale-cloud-service-provider-regions"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "municipality",
                  "state",
                  "country",
                  "latitude",
                  "longitude"
                ],
                "additionalProperties": false,
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The region's name, Provider and one capital letter, which says nothing of its provider",
                    "example": "Provider A"
                  },
                  "municipality": {
                    "type": "string",
                    "minLength": 1,
                    "example": "Columbus"
                  },
                  "state": {
                    "type": "string",
                    "description": "The state or province; empty outside a country that has them",
                    "example": "OH"
                  },
                  "country": {
                    "type": "string",
                    "minLength": 1,
                    "example": "US"
                  },
                  "latitude": {
                    "type": "number",
                    "example": 39.9612
                  },
                  "longitude": {
                    "type": "number",
                    "example": -82.9988
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The region, by the id the API gave it, its name and where it is",
            "headers": {
              "Location": {
                "description": "The region's own URL, /hyperscale-cloud-service-provider-regions/{id}",
                "schema": {
                  "type": "string",
                  "example": "/hyperscale-cloud-service-provider-regions/1"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name",
                    "municipality",
                    "state",
                    "country",
                    "latitude",
                    "longitude"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "name": {
                      "type": "string",
                      "description": "The region's name, Provider and one capital letter, which says nothing of its provider",
                      "example": "Provider A"
                    },
                    "municipality": {
                      "type": "string",
                      "example": "Columbus"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state or province; empty outside a country that has them",
                      "example": "OH"
                    },
                    "country": {
                      "type": "string",
                      "example": "US"
                    },
                    "latitude": {
                      "type": "number",
                      "example": 39.9612
                    },
                    "longitude": {
                      "type": "number",
                      "example": -82.9988
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A body that is not exactly {\"name\", \"municipality\", \"state\", \"country\", \"latitude\", \"longitude\"}",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "500": {
            "description": "The store could not be written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${HyperscaleCloudServiceProviderRegionsHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/hyperscale-cloud-service-provider-regions/{id}": {
      "get": {
        "summary": "Get Hyperscale Cloud Service Provider Region",
        "description": "Serves one hyperscale cloud service provider region, by the id the API assigned it, its name and where it is.",
        "operationId": "getHyperscaleCloudServiceProviderRegion",
        "tags": [
          "/hyperscale-cloud-service-provider-regions"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id the API assigned the region",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The region, by its id, its name and where it is",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name",
                    "municipality",
                    "state",
                    "country",
                    "latitude",
                    "longitude"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "name": {
                      "type": "string",
                      "description": "The region's name, Provider and one capital letter, which says nothing of its provider",
                      "example": "Provider A"
                    },
                    "municipality": {
                      "type": "string",
                      "example": "Columbus"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state or province; empty outside a country that has them",
                      "example": "OH"
                    },
                    "country": {
                      "type": "string",
                      "example": "US"
                    },
                    "latitude": {
                      "type": "number",
                      "example": 39.9612
                    },
                    "longitude": {
                      "type": "number",
                      "example": -82.9988
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No region has that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${HyperscaleCloudServiceProviderRegionsHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "put": {
        "summary": "Correct Hyperscale Cloud Service Provider Region",
        "description": "Corrects the name and the place of one hyperscale cloud service provider region, keeping its id.",
        "operationId": "correctHyperscaleCloudServiceProviderRegion",
        "tags": [
          "/hyperscale-cloud-service-provider-regions"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id the API assigned the region",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "municipality",
                  "state",
                  "country",
                  "latitude",
                  "longitude"
                ],
                "additionalProperties": false,
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The region's name, Provider and one capital letter, which says nothing of its provider",
                    "example": "Provider A"
                  },
                  "municipality": {
                    "type": "string",
                    "minLength": 1,
                    "example": "Columbus"
                  },
                  "state": {
                    "type": "string",
                    "description": "The state or province; empty outside a country that has them",
                    "example": "OH"
                  },
                  "country": {
                    "type": "string",
                    "minLength": 1,
                    "example": "US"
                  },
                  "latitude": {
                    "type": "number",
                    "example": 39.9612
                  },
                  "longitude": {
                    "type": "number",
                    "example": -82.9988
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The region, by its id, its name and where it now is",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name",
                    "municipality",
                    "state",
                    "country",
                    "latitude",
                    "longitude"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "name": {
                      "type": "string",
                      "description": "The region's name, Provider and one capital letter, which says nothing of its provider",
                      "example": "Provider A"
                    },
                    "municipality": {
                      "type": "string",
                      "example": "Columbus"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state or province; empty outside a country that has them",
                      "example": "OH"
                    },
                    "country": {
                      "type": "string",
                      "example": "US"
                    },
                    "latitude": {
                      "type": "number",
                      "example": 39.9612
                    },
                    "longitude": {
                      "type": "number",
                      "example": -82.9988
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A body that is not exactly {\"name\", \"municipality\", \"state\", \"country\", \"latitude\", \"longitude\"}",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No region has that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read or written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${HyperscaleCloudServiceProviderRegionsHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "delete": {
        "summary": "Remove Hyperscale Cloud Service Provider Region",
        "description": "Removes one hyperscale cloud service provider region; its id is never given again.",
        "operationId": "removeHyperscaleCloudServiceProviderRegion",
        "tags": [
          "/hyperscale-cloud-service-provider-regions"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id the API assigned the region",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The region is gone"
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "404": {
            "description": "No region has that id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "The store could not be read or written"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${HyperscaleCloudServiceProviderRegionsHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/wan-syntheses": {
      "get": {
        "summary": "List WAN Syntheses",
        "description": "Lists the WAN syntheses, each by the id the API assigned it and its label; a synthesis is one run, one set of inputs and the WAN computed from them.",
        "operationId": "listWanSyntheses",
        "tags": [
          "/wan-syntheses"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "The syntheses, in id order; [] when there are none",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "label"
                    ],
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1
                      },
                      "label": {
                        "type": "string",
                        "description": "The run the synthesis records, as its inputs name it",
                        "example": "minuteman"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "500": {
            "description": "The store could not be read"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${WanSynthesesHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      },
      "post": {
        "summary": "Create WAN Synthesis",
        "description": "Creates a WAN synthesis: one run over the inputs the body carries. The record is written under the next id, never reused, with status creating, each element of a list input under it numbered in body order, and the synthesizer is started on it; the record then moves through synthesizing to success, fail or timeout, and the WAN's parts appear under the run once it ended success. Nothing under a run is written after creation; a changed input is a new run.",
        "operationId": "createWanSynthesis",
        "tags": [
          "/wan-syntheses"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "label",
                  "wan_pop_count",
                  "backbone_number_of_diverse_circuits",
                  "homing_degree",
                  "convergence_promotion",
                  "knobs",
                  "settings",
                  "sites",
                  "hyperscale_cloud_service_provider_regions",
                  "off_net",
                  "forced_wan_pops",
                  "forced_circuits",
                  "forced_homes",
                  "prohibited_wan_pops",
                  "prohibited_circuits",
                  "degree_exempt_wan_pops"
                ],
                "additionalProperties": false,
                "properties": {
                  "label": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The run, as its inputs name it",
                    "example": "minuteman"
                  },
                  "wan_pop_count": {
                    "type": "object",
                    "description": "How many WAN PoPs the backbone may have",
                    "required": [
                      "min",
                      "max"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "min": {
                        "type": "integer",
                        "example": 3
                      },
                      "max": {
                        "type": "integer",
                        "example": 6
                      }
                    }
                  },
                  "backbone_number_of_diverse_circuits": {
                    "type": "integer",
                    "description": "How many diverse backbone circuits each WAN PoP is asked for",
                    "example": 3
                  },
                  "homing_degree": {
                    "type": "integer",
                    "description": "How many WAN PoPs each site homes to",
                    "example": 2
                  },
                  "convergence_promotion": {
                    "type": "boolean",
                    "description": "Whether high-degree convergences are promoted to WAN PoPs",
                    "example": false
                  },
                  "knobs": {
                    "type": "object",
                    "description": "The algorithm's knobs; backbone_coverage_target_miles is required",
                    "additionalProperties": true,
                    "example": {
                      "backbone_coverage_target_miles": 1200
                    }
                  },
                  "settings": {
                    "type": "object",
                    "description": "The implementation's settings: compass_sector_count, wan_pop_search_memory_share, bytes_per_wan_pop_combination",
                    "additionalProperties": true,
                    "example": {
                      "compass_sector_count": 8,
                      "wan_pop_search_memory_share": 0.6,
                      "bytes_per_wan_pop_combination": 160
                    }
                  },
                  "sites": {
                    "type": "array",
                    "description": "The sites the WAN homes, in the order that gives them their ids",
                    "items": {
                      "type": "object",
                      "required": [
                        "name",
                        "municipality",
                        "state",
                        "country",
                        "latitude",
                        "longitude",
                        "exempt_from_distance_constraint"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The site's name, as the run gave it",
                          "example": "F.E. Warren AFB",
                          "minLength": 1
                        },
                        "municipality": {
                          "type": "string",
                          "example": "Cheyenne",
                          "minLength": 1
                        },
                        "state": {
                          "type": "string",
                          "description": "The state or province; empty outside a country that has them",
                          "example": "WY"
                        },
                        "country": {
                          "type": "string",
                          "example": "United States",
                          "minLength": 1
                        },
                        "latitude": {
                          "type": "number",
                          "example": 41.1517
                        },
                        "longitude": {
                          "type": "number",
                          "example": -104.8678
                        },
                        "exempt_from_distance_constraint": {
                          "type": "boolean",
                          "description": "Whether the site may home farther than the run allows others to",
                          "example": false
                        }
                      },
                      "additionalProperties": false,
                      "description": "A site the WAN homes, named and placed, and whether it may home farther than the run allows others to"
                    }
                  },
                  "hyperscale_cloud_service_provider_regions": {
                    "type": "array",
                    "description": "The provider regions the WAN homes, in the order that gives them their ids",
                    "items": {
                      "type": "object",
                      "required": [
                        "name",
                        "municipality",
                        "state",
                        "country",
                        "latitude",
                        "longitude"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The region's name, Provider and one capital letter, which says nothing of its provider",
                          "example": "Provider A",
                          "minLength": 1
                        },
                        "municipality": {
                          "type": "string",
                          "example": "Columbus",
                          "minLength": 1
                        },
                        "state": {
                          "type": "string",
                          "description": "The state or province; empty outside a country that has them",
                          "example": "OH"
                        },
                        "country": {
                          "type": "string",
                          "example": "US",
                          "minLength": 1
                        },
                        "latitude": {
                          "type": "number",
                          "example": 39.9612
                        },
                        "longitude": {
                          "type": "number",
                          "example": -82.9988
                        }
                      },
                      "additionalProperties": true,
                      "description": "A hyperscale cloud service provider region the WAN homes, as the catalog serves it; a catalog id is ignored"
                    }
                  },
                  "off_net": {
                    "type": "array",
                    "description": "The candidate PoPs in cities no carrier serves, in the order that gives them their ids",
                    "items": {
                      "type": "object",
                      "required": [
                        "municipality",
                        "state",
                        "country",
                        "latitude",
                        "longitude"
                      ],
                      "properties": {
                        "municipality": {
                          "type": "string",
                          "example": "Dulles",
                          "minLength": 1
                        },
                        "state": {
                          "type": "string",
                          "description": "The state or province; empty outside a country that has them",
                          "example": "VA"
                        },
                        "country": {
                          "type": "string",
                          "example": "United States",
                          "minLength": 1
                        },
                        "latitude": {
                          "type": "number",
                          "example": 38.9519
                        },
                        "longitude": {
                          "type": "number",
                          "example": -77.448
                        }
                      },
                      "additionalProperties": false,
                      "description": "A candidate PoP in a city no carrier serves, placed"
                    }
                  },
                  "forced_wan_pops": {
                    "type": "array",
                    "description": "The carrier PoPs the WAN must place",
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "description": "A carrier PoP, named by its municipality and state",
                      "example": "Ashburn, VA"
                    }
                  },
                  "forced_circuits": {
                    "type": "array",
                    "description": "The backbone circuits the WAN must carry",
                    "items": {
                      "type": "object",
                      "required": [
                        "source",
                        "target"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "source": {
                          "type": "string",
                          "minLength": 1,
                          "description": "A carrier PoP, named by its municipality and state",
                          "example": "Ashburn, VA"
                        },
                        "target": {
                          "type": "string",
                          "minLength": 1,
                          "description": "A carrier PoP, named by its municipality and state",
                          "example": "Cheyenne, WY"
                        }
                      }
                    }
                  },
                  "forced_homes": {
                    "type": "array",
                    "description": "The homing circuits the WAN must carry",
                    "items": {
                      "type": "object",
                      "required": [
                        "source",
                        "target"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "source": {
                          "type": "string",
                          "minLength": 1,
                          "description": "A site, named as the run's sites name it",
                          "example": "F.E. Warren AFB"
                        },
                        "target": {
                          "type": "string",
                          "minLength": 1,
                          "description": "A carrier PoP, named by its municipality and state",
                          "example": "Cheyenne, WY"
                        }
                      }
                    }
                  },
                  "prohibited_wan_pops": {
                    "type": "array",
                    "description": "The carrier PoPs the WAN must not place",
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "description": "A carrier PoP, named by its municipality and state",
                      "example": "Chicago, IL"
                    }
                  },
                  "prohibited_circuits": {
                    "type": "array",
                    "description": "The backbone circuits the WAN must not carry",
                    "items": {
                      "type": "object",
                      "required": [
                        "source",
                        "target"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "source": {
                          "type": "string",
                          "minLength": 1,
                          "description": "A carrier PoP, named by its municipality and state",
                          "example": "Minot, ND"
                        },
                        "target": {
                          "type": "string",
                          "minLength": 1,
                          "description": "A carrier PoP, named by its municipality and state",
                          "example": "Great Falls, MT"
                        }
                      }
                    }
                  },
                  "degree_exempt_wan_pops": {
                    "type": "array",
                    "description": "The carrier PoPs the WAN may place with fewer backbone circuits than the run asks",
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "description": "A carrier PoP, named by its municipality and state",
                      "example": "Great Falls, MT"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The record, by the id the API gave it, with status creating",
            "headers": {
              "Location": {
                "description": "The synthesis's own URL, /wan-syntheses/{id}",
                "schema": {
                  "type": "string",
                  "example": "/wan-syntheses/1"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "label",
                    "wan_pop_count",
                    "backbone_number_of_diverse_circuits",
                    "homing_degree",
                    "convergence_promotion",
                    "knobs",
                    "settings",
                    "status"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "label": {
                      "type": "string",
                      "description": "The run the synthesis records, as its inputs name it",
                      "example": "minuteman"
                    },
                    "wan_pop_count": {
                      "type": "object",
                      "description": "How many WAN PoPs the backbone may have",
                      "required": [
                        "min",
                        "max"
                      ],
                      "properties": {
                        "min": {
                          "type": "integer",
                          "example": 3
                        },
                        "max": {
                          "type": "integer",
                          "example": 6
                        }
                      }
                    },
                    "backbone_number_of_diverse_circuits": {
                      "type": "integer",
                      "example": 3
                    },
                    "homing_degree": {
                      "type": "integer",
                      "description": "How many WAN PoPs each site homes to",
                      "example": 2
                    },
                    "convergence_promotion": {
                      "type": "boolean",
                      "description": "Whether high-degree convergences are promoted to WAN PoPs",
                      "example": false
                    },
                    "knobs": {
                      "type": "object",
                      "description": "The algorithm's knobs, as the run set them",
                      "additionalProperties": true
                    },
                    "settings": {
                      "type": "object",
                      "description": "The implementation's settings, as the run set them",
                      "additionalProperties": true
                    },
                    "status": {
                      "type": "string",
                      "description": "Where the run stands: creating while its inputs are written, synthesizing while the WAN is computed, then success, fail or timeout",
                      "enum": [
                        "creating",
                        "synthesizing",
                        "success",
                        "fail",
                        "timeout"
                      ],
                      "example": "creating"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "A body missing a field, carrying one too many, or with a field that is not as described",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No bearer token, or one the authorizer refused"
          },
          "403": {
            "description": "A bearer token the authorizer does not admit to this operation"
          },
          "500": {
            "description": "The store could not be written, or the synthesizer could not be started"
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "${WanSynthesesWriterHandlerArn}",
          "httpMethod": "POST",
          "type": "aws_proxy"
        }
      }
    },
    "/wan-syntheses/{id}": {
      "get": {
        "summary": "Get WAN Synthesis",
        "description": "Serves the record of one WAN synthesis: its label, its scalar inputs, its status and, once the run ended success, its figures. The record is the run whether or not a WAN came out of it, so any run that exists answers 200.",
        "operationId": "getWanSynthesis",
        "tags": [
          "/wan-syntheses"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id the API assigned the synthesis",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The synthesis's record, by its id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "label",
                    "wan_pop_count",
                    "backbone_number_of_diverse_circuits",
                    "homing_degree",
                    "convergence_promotion",
                    "knobs",
                    "settings",
                    "status"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "label": {
                      "type": "string",
                      "description": "The run the synthesis records, as its inputs name it",
                      "example": "minuteman"
                    },
                    "wan_pop_count": {
                      "type": "object",
                      "description": "How many WAN PoPs the backbone may have",
                      "required": [
                        "min",
                        "max"
                      ],
                      "properties": {
                        "min": {
                          "type": "integer",
                          "example": 3
                        },
                        "max": {
                          "type": "integer",
                          "example": 6
                        }
                      }
                    },
                    "backbone_number_of_diverse_circuits": {
                      "type": "integer",
                      "example": 3
                    },
                    "homing_degree": {
                      "type": "integer",
                      "description": "How many WAN PoPs each site homes to",
                      "example": 2
                    },
                    "convergence_promotion": {
                      "type": "boolean",
                      "description": "Whether high-degree convergences are promoted to WAN PoPs",
                      "example": false
                    },
                    "knobs": {
                      "type": "object",
                      "description": "The algorithm's knobs, as the run set them",
                      "additionalProperties": true
                    },
                    "settings": {
                      "type": "object",
                      "description": "The implementation's settings, as the run set them",
                      "additionalProperties": true
                    },
                    "status": {
                      "type": "string",
                      "description": "Where the run stands: creating while its inputs are written, synthesizing while the WAN is computed, then success, fail or timeout",
                      "enum": [
                        "creating",
                        "synthesizing",
                        "success",
                        "fail",
                        "timeout"
                      ],
                      "example": "success"
                    },
                    "reason": {
[...]
